<h1>To-Dos</h1>

<form action="/" method="POST">
  <input type="text" required="required" name="item" placeholder="Walk the dog">
  <button type="submit"> <i class="fa fa-plus-circle"></i> Add</a></button>
</form>

<ul class="fa-ul">
  {{#each tasks}}
    <li>
      <a href="/edit/{{this.id}}" class="task">
        {{#if complete}}
          <i class="fa-li fa fa-check-circle-o"></i>
          {{else}}
          <i class="fa-li fa fa-circle-o"></i>
        {{/if}}
       {{this.item}}
      </a>
    </li>
  {{/each}}
</ul>
